body{
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 183, 183);
}
.container{
    /* height: 40%; */
    max-width: 340px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px
    black;
}
h1{
    font-size: 2.5rem;
    margin: 15px 5px 5px 5px;
    text-align: center;
    color: orange;
    max-lines: 2lines;
}
.inputbox{
    display: block;
    height: 3rem;
    width: 80%;
    padding-left: 20px;
    margin: 20px;
    
}
input{
    font-size: 1rem;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
}
.btn{

    height: auto;
    min-height: 3rem;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}
p{
    color: rgb(179, 252, 96);
    font-size: 1.4rem;
    margin: 15px 0px 10px 20px;
}
span{
    color: white;
    text-shadow: 0px 0px 10px black;
    border-bottom: 2px solid red;
    font-size: 1.5rem;
}